<!DOCTYPE html>
<html>
  <head>
    <title>ConnectIn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser = <%= render(
              "api/users/user.json.jbuilder",
              user: current_user
          ).html_safe %>
      </script>
    <% end %>
  <script type='text/javascript'>
    window.logo = '<%= image_url('logo_alpha.png')%>'
    window.smallLogo = '<%= image_url('in_alpha.png')%>'
    window.backgroundImg = '<%= image_url('background_img2.png')%>'
    window.defaultProfile = '<%= image_url('profile.png')%>'
    window.educationImg = '<%= image_url('education_img.png')%>'
    window.experienceImg = '<%= image_url('experience_img.png')%>'
    window.myPic = '<%= image_url('mypic2.png')%>'
    window.error = '<%= image_url('error.png')%>'

  </script>
  
  <link rel="icon" type="image/x-icon" href="<%= image_url('in_alpha.png') %>" />


  </head>
  <body>
    <%= yield %>
  </body>
</html>
